{
  "presets": ["es2015", "stage-0"],
  "env": {

    "development": {
      "plugins": [
        "espower",
        ["cycle-hmr", {
          "include": [
            "./src/component/**/*.js",
            "./src/page/**/*.js"
          ]
        }]
      ]
    },

    "production": {
      "plugins": []
    }
  }
}
