{
  "presets": ["es2015", "stage-0"],
  "env": {
    "development": {
      "plugins": [
        "espower",
        ["cycle-hmr/xstream", {
          "include": [
            "**/src/component/**",
            "**/src/page/**"
          ]
        }]
      ]
    },
    "production": {
      "plugins": []
    }
  }
}
